
.tinysignup {
  text-align: center;
}

.tinysignup input {
  border: 2px solid silver;
  padding: 0.25em;
  font-size: 1em;
  width: 20em;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 0.25em;
}

.tinysignup button {
  border: 2px solid #61ad4f;
  padding: 0.15em 1.5em;
  font-size: 1em;
  border-radius: 5px;
  background-color: #66c38b;
  color: white;
  margin-top: 0.25em;
}

.tinysignup .spinner {
  
}

.tinysignup .message {
  border: 2px solid #61ad4f;
  padding: 0.15em 1.5em;
  font-size: 1em;
  border-radius: 5px;
  background-color: #66c38b;
  color: white;
}

.tinysignup .spinner {
  width: 40px;
  height: 40px;
  background-color: #66c38b;
  border-radius: 5px;

  margin: 40px auto;
  -webkit-animation: tinysignup-rotateplane 1.2s infinite ease-in-out;
  animation: tinysignup-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes tinysignup-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes tinysignup-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
